/*!
 *  Font totoro625-en 3.6 by @totoro625 - https://www.totoro.pub/ - @totoro625
 *  License - https://www.totoro.pub/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
 /* FONT PATH
  * -------------------------- */
@font-face {
  font-family: 'totoro625-en';
  src: url('totoro625-en.woff2');
  src: url('totoro625-en.woff2') format('woff2'),
	   url('../fonts/totoro625-en.woff') format('woff'),
	   url('totoro625.eot-en?#iefix') format('embedded-opentype'),
       url('../fonts/totoro625-en.ttf') format('truetype'),
       url('../fonts/totoro625-en.svg#totoro625-en') format('svg');
  font-weight: normal;
  font-style: normal;